Web References/quatations/Quatations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="submitQuatations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="submitQuatationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="submitQuatationsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="submitQuatationsSoapIn">
    <wsdl:part name="parameters" element="tns:submitQuatations" />
  </wsdl:message>
  <wsdl:message name="submitQuatationsSoapOut">
    <wsdl:part name="parameters" element="tns:submitQuatationsResponse" />
  </wsdl:message>
  <wsdl:portType name="QuatationsSoap">
    <wsdl:operation name="submitQuatations">
      <wsdl:input message="tns:submitQuatationsSoapIn" />
      <wsdl:output message="tns:submitQuatationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QuatationsSoap" type="tns:QuatationsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="submitQuatations">
      <soap:operation soapAction="http://tempuri.org/submitQuatations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QuatationsSoap12" type="tns:QuatationsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="submitQuatations">
      <soap12:operation soapAction="http://tempuri.org/submitQuatations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Quatations">
    <wsdl:port name="QuatationsSoap" binding="tns:QuatationsSoap">
      <soap:address location="https://localhost:44399/Quatations.asmx" />
    </wsdl:port>
    <wsdl:port name="QuatationsSoap12" binding="tns:QuatationsSoap12">
      <soap12:address location="https://localhost:44399/Quatations.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>